// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-services-five-name: 'icon-services-five';
$icon-services-five-x: 0px;
$icon-services-five-y: 0px;
$icon-services-five-offset-x: 0px;
$icon-services-five-offset-y: 0px;
$icon-services-five-width: 40px;
$icon-services-five-height: 40px;
$icon-services-five-total-width: 160px;
$icon-services-five-total-height: 159px;
$icon-services-five-image: '../img/icons/icons-sprite.png';
$icon-services-five: (0px, 0px, 0px, 0px, 40px, 40px, 160px, 159px, '../img/icons/icons-sprite.png', 'icon-services-five', );
$icon-services-four-name: 'icon-services-four';
$icon-services-four-x: 60px;
$icon-services-four-y: 0px;
$icon-services-four-offset-x: -60px;
$icon-services-four-offset-y: 0px;
$icon-services-four-width: 40px;
$icon-services-four-height: 40px;
$icon-services-four-total-width: 160px;
$icon-services-four-total-height: 159px;
$icon-services-four-image: '../img/icons/icons-sprite.png';
$icon-services-four: (60px, 0px, -60px, 0px, 40px, 40px, 160px, 159px, '../img/icons/icons-sprite.png', 'icon-services-four', );
$icon-services-one-name: 'icon-services-one';
$icon-services-one-x: 0px;
$icon-services-one-y: 60px;
$icon-services-one-offset-x: 0px;
$icon-services-one-offset-y: -60px;
$icon-services-one-width: 40px;
$icon-services-one-height: 40px;
$icon-services-one-total-width: 160px;
$icon-services-one-total-height: 159px;
$icon-services-one-image: '../img/icons/icons-sprite.png';
$icon-services-one: (0px, 60px, 0px, -60px, 40px, 40px, 160px, 159px, '../img/icons/icons-sprite.png', 'icon-services-one', );
$icon-services-seven-name: 'icon-services-seven';
$icon-services-seven-x: 0px;
$icon-services-seven-y: 120px;
$icon-services-seven-offset-x: 0px;
$icon-services-seven-offset-y: -120px;
$icon-services-seven-width: 40px;
$icon-services-seven-height: 39px;
$icon-services-seven-total-width: 160px;
$icon-services-seven-total-height: 159px;
$icon-services-seven-image: '../img/icons/icons-sprite.png';
$icon-services-seven: (0px, 120px, 0px, -120px, 40px, 39px, 160px, 159px, '../img/icons/icons-sprite.png', 'icon-services-seven', );
$icon-services-six-name: 'icon-services-six';
$icon-services-six-x: 60px;
$icon-services-six-y: 60px;
$icon-services-six-offset-x: -60px;
$icon-services-six-offset-y: -60px;
$icon-services-six-width: 40px;
$icon-services-six-height: 40px;
$icon-services-six-total-width: 160px;
$icon-services-six-total-height: 159px;
$icon-services-six-image: '../img/icons/icons-sprite.png';
$icon-services-six: (60px, 60px, -60px, -60px, 40px, 40px, 160px, 159px, '../img/icons/icons-sprite.png', 'icon-services-six', );
$icon-services-tree-name: 'icon-services-tree';
$icon-services-tree-x: 120px;
$icon-services-tree-y: 0px;
$icon-services-tree-offset-x: -120px;
$icon-services-tree-offset-y: 0px;
$icon-services-tree-width: 40px;
$icon-services-tree-height: 40px;
$icon-services-tree-total-width: 160px;
$icon-services-tree-total-height: 159px;
$icon-services-tree-image: '../img/icons/icons-sprite.png';
$icon-services-tree: (120px, 0px, -120px, 0px, 40px, 40px, 160px, 159px, '../img/icons/icons-sprite.png', 'icon-services-tree', );
$icon-services-two-name: 'icon-services-two';
$icon-services-two-x: 120px;
$icon-services-two-y: 60px;
$icon-services-two-offset-x: -120px;
$icon-services-two-offset-y: -60px;
$icon-services-two-width: 40px;
$icon-services-two-height: 40px;
$icon-services-two-total-width: 160px;
$icon-services-two-total-height: 159px;
$icon-services-two-image: '../img/icons/icons-sprite.png';
$icon-services-two: (120px, 60px, -120px, -60px, 40px, 40px, 160px, 159px, '../img/icons/icons-sprite.png', 'icon-services-two', );
$spritesheet-width: 160px;
$spritesheet-height: 159px;
$spritesheet-image: '../img/icons/icons-sprite.png';
$spritesheet-sprites: ($icon-services-five, $icon-services-four, $icon-services-one, $icon-services-seven, $icon-services-six, $icon-services-tree, $icon-services-two, );
$spritesheet: (160px, 159px, '../img/icons/icons-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
